@import '../../_config';
@import '../../_utils';


.toc {
    margin-bottom: 30px !important;
}


.toc ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.toc ul > li {
    margin-bottom: 0;
}


.toc-item_level_1 > a {
    font-weight: bold;
}

.toc-node-title {
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.toc-node {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
}

.toc-node-h1 {
    padding-left: 16px;
}

.toc-node-h2 {
    padding-left: 16px;
}

.toc-node-h3 {
    padding-left: 32px;
}

.toc-node-h4 {
    padding-left: 48px;
}

.toc-item {
    text-decoration: none;
    color: #19191c;
}

a.toc-item:hover {
    background-color: #EEEEEE;
}
